{% extends "workout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">New Workout</legend>
      <div class="container">
        <div class="row mt-2">
          <div class="col-md">
            <label>Workout Name</label>
          </div>
          <div class="col-md-10">
            <input type="text" class="form-control" name="name"></input>
          </div>
        </div>
      </div>
      <div class="container" id="exercise1">
        <div class="row mt-4">
          <div class="col-md">
            <label>Exercise</label>
          </div>
          <div class="col-md-10">
            <select name="exercise">
              <option value="----">----</option>
              {% for exercise in exercises %}
                <option value="{{ exercise.name }}">{{ exercise.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-2">
          </div>
          <div class="col-3">
            <div class="d-flex justify-content-center">Weight</div>
          </div>
          <div class="col-3">
            <div class="d-flex justify-content-center">Reps</div>
          </div>
        </div>
        <div class="row" id="set1">
          <div class="col-2">
            <label>Set 1</label> 
          </div>
          <div class="col-3">
            <input type="text" class="form-control" name="E1S1-weight"></input>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" name="E1S1-reps"></input>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-outline-danger" id="removeSet">Remove Set
            </button>
          </div>
        </div>
        <div class="row mt-2 justify-content-start" id="addSetButton">
          <div class="col-2"></div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-success" id="addSet">Add New Set</button>
          </div>
        </div>
{% comment %}
        <div class="row">
          <div class="col-2">
            <label>Set 1</label> 
          </div>
          <div class="col-3">
            <input type="text" class="form-control" name="E1S1-weight"></input>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" name="E1S1-reps"></input>
          </div>
          <div class="col-3">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Add</button>
              <button type="button" class="btn btn-outline-danger">Remove</button>
            </div>
          </div>
        </div>
        {% comment %}  {% endcomment %}
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
            
          </div>
          <div class="col-md-10">
            
          </div>
        </div>
      </div>
    </fieldset>
    <div class="container">
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit" name="save" value="save">Save</button>
        <button class="btn btn-outline-info" type="submit" name="finish" value="finish">Finish</button>
      </div>
    </div>
  </form>
{% endblock content %}


{% block js %}
  <script>
    const addSet = document.getElementById("addSet");
    addSet.addEventListener("click", cloneSetForm);
    function cloneSetForm(){
      const clonedSet = document.getElementById("set1").cloneNode(true);
      console.log(clonedSet);
      const target = document.querySelector('#addSetButton');
      target.before(clonedSet);
    }


    function removeClickHandler(e) {
      if (e.target.matches('#removeSet')) {
        console.log(e.target.parentNode.parentNode);
        e.target.parentNode.parentNode.remove();
      }
    }
    // reference to a list
    const exercise1 = document.querySelector('#exercise1');

    // add a single listener on list item
    exercise1.addEventListener('click', removeClickHandler);
    
    {% comment %} const removeSet = document.getElementById("removeSet");
    removeSet.addEventListener("click", removeSetForm);
    function removeSetForm(){
      const toBeRemoved = event.target.parentNode.parentNode;
      console.log(event);
      toBeRemoved.remove();
    } {% endcomment %}
  </script>
{% endblock js %}