{% extends "workout/base.html" %}
{% block content %}
  <div class="container" style="padding-top: 30px">
    <h3>Past Workouts</h3>
  </div>
  {% for workout in workouts %}
  <div class="container" style="padding-top: 30px">
    <div class="card" style="">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">{{ workout.name}}</h5>
        <p class="card-text">{{ workout.description }}</p>
        <p class="card-text font-italic">{{ workout.dateTime }}</p>
        <a href="{% url 'workout_detail' workout.pk %}" class="btn btn-primary">Workout Detail</a>
      </div>
    </div>
  </div>

  {% endfor %}
{% endblock %}

