.navbar-brand {
  font-size : 35px;
}

label {
  white-space: nowrap;
}

.btn-group button {
  margin: 0 7px; 
}

#footer {
  position: sticky;
  top: 100%;
}

body {
  min-height: 100vh;
}

.footer-text {
  background-color: rgba(0, 0, 0, 0.2);
}

.select-exercise {
  width: 205px;
}

.details-obj-name {
  padding-left: 17px
}

.help-text {
  padding-left: 15px; 
  color:grey;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.remove-set-button {
  padding : 0;
}

.form-validation-instruction {
  padding-left: 15px; 
  color:red;
}